@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  margin: 0 20px 0 20px;
  padding: 0px;
  font-family: 'Space Mono', monospace;
  background-color: #F6AE00;
  color: #fff;
  background-image: url(./assets/1.jpeg);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  font-weight: 900;
}

#user h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 60px;
}

#time {
  font-size: 100px;
  color: #F6AE00;
}

#container {
  display: flex;
  justify-content: space-between;
  height: 60vh;
}

#input-focus {
  width: 100%;
  font-size: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #F6AE00;
  caret-color: #fff;
  text-align: center;
  outline: none;
  color: #fff;
}

#add-focus , #clear-focus {
  margin-top: 20px;
  font-size: 25px;
  border: 1px solid #F6AE00;
  border-radius: 2px;
  background-color: #F6AE00;
  color: #fff;
  font-weight: 700;
}