@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  margin: 0 20px 0 20px;
  padding: 0px;
  font-family: 'Space Mono', monospace;
  background-color: #F6AE00;
  color: #fff;
  background-image: url(./assets/1.jpeg);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}

#user h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 60px;
}

#time {
  font-size: 100px;
  color: #F6AE00;
  margin-top: 0;
  margin-bottom: 0;
}

#date {
  margin-top: 0;
  margin-bottom: 0;
  color: #F6AE00;
  border: none;
  border-bottom: 2px solid #fff;
}

#container {
  display: flex;
  justify-content: space-between;
  height: 50vh;
}

#input-focus {
  width: 100%;
  font-size: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #F6AE00;
  caret-color: #fff;
  text-align: center;
  outline: none;
  color: #fff;
}

#add-focus , #clear-focus, .roll-quotes, .add-quotes {
  margin-top: 20px;
  font-size: 25px;
  border: 1px solid #F6AE00;
  border-radius: 2px;
  background-color: #F6AE00;
  color: #fff;
  font-weight: 700;
}

#random-quotes {
  text-align: center;
}

#quote-text {
  font-size: 30px;
  font-weight: 900;
}

#author {
  font-size: 20px;
  color: #F6AE00;
  font-weight: 700;
}

#modal-quote-input {
  display: none;
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: #F6AE00;
  width: 50%;
  height: 45vh;
}

#form-new-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-field, .author-field,.quote-button {
  width: 100%;
  margin-bottom: 30px;
}

.quote-field, .author-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-field {
  margin-top: 20px
}

.quote-label {
  font-size: 20px;
}

.new-quote {
  width: 90%;
  font-size: 25px;
  text-align: center;
  outline-color: #F6AE00;
  border: none;
}

.new-author {
  width: 50%;
  font-size: 25px;
  text-align: center;
  outline-color: #F6AE00;
  border: none;
}

#submit-quote, #cancel-quote {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  background: transparent;
  border: none;
  color: #fff;
}

#submit-quote:hover, #cancel-quote:hover {
  text-decoration: underline;
}
