@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  margin: 0;
  padding: 0px;
  font-family: 'Space Mono', monospace;
  background-color: #F6AE00;
  color: #fff;
  background-image: url(./assets/1.jpeg);
}