@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Varela+Round&display=swap');

* {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

/** navbar**/
nav {
  display: flex;
  justify-content: space-between;
}

#top-nav {
  height: 10vh;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-items {
  font-size: 20px;
  padding: 20px;
}

.sign-up {
  background-color: #00E99E;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up:hover {
  transform: scale(1.2);
}

/* homepage */
.heading {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}

#homepage {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* login form */
#login-ID, #password, #login-account {
  width: 500px;
  height: 5vh;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 20px;
}

::placeholder {
  padding: 20px;
}

.login-with-account-and-password {
  display: flex;
  flex-direction: column;
}

#login-account {
  background-color: #00E99E;
  border: none;
  cursor: pointer;
}

#login-account:hover {
  transform: scale(.9);
}

.forgot-password {
  text-align: center;
}

/* sign up form */
#signup {
  display: none;
}

