
/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: azure;
}

li {
  float: right;
}

#logo {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* sidebar */
#main {
  display: flex;
}

#sidebar {
  height: 90vh;
  width: 200px;
  background-color: lightblue;
}

#sidebar a {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.sidebar a:hover {
  cursor: pointer;
  opacity: .7;
}

#content {
  background-color: #fff;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* survey-form */
#survey-form {
  display: flex;
  flex-direction: column;
}

#personal details, #experience, #education, #skills {
  height: 90vh;
}

.form-fields {
  box-sizing: border-box;
  padding: 32px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 4%);
}
