
/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: azure;
}

li {
  float: right;
}

#logo {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* sidebar */
#main {
  display: flex;
}

#sidebar {
  height: 100%;
  width: 200px;
  background-color: lightblue;
}

#sidebar a {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.sidebar a:hover {
  cursor: pointer;
  opacity: .7;
}

#body-text {
  margin-left: 150x;
  font-size: 18px;
}
