body {
  margin: 0;
  font-family: poppins, sans-serif;
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

#logo {
  float: left;
  text-transform: uppercase;
}

#logo a {
  color: #ff4554;
  font-weight: 900;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* header */
#cover-img {
  background-image: url("./assets/cover-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

#header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#title {
  font-weight: 700;
  font-size: 70px;
  line-height: 72px;
  color: #fff;
}

#description {
  background-color: #000000;
  color: #fff;
  font-size: 22px;
}

button {
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  padding: 12px 32px;
  border-radius: 6px;
  border: none;
  background-color: #0C66FF;
  color: #fff;
}