* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1511882150382-421056c89033?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80); 
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  height: auto;
  width: auto;
  background: linear-gradient(to bottom, #f4599D 10%, #eda92D);
  border-radius: 20px;
  padding: 30px;
  box-shadow: inset 1px 2px 0px rgb(237 169 45 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
}

#mainPage {
  height: 220px;
  width: 400px;
  display: none;
}

#mainPage h2, #winner h2 {
  font-size: 50px;
  color: #fff;
}

hr {
  margin: 20px 0;
}

#mainPage h4 {
  font-size: 25px;
  color: #fff;
}

#mainPage #button {
  height: auto;
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button button {
  height: 55px;
  width: 180px;
  cursor: pointer;
  background: #7558A4;
  border: none;
  outline: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  transition: 0.5s;
}

#mainPage #button button:hover, 
#winner #button button {
  transform: scale(0.90);
}

#winner {
  display: none;
}

#winner #button {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#winner #button button {
  margin-top: 20px;;
}

#gamePage {
  height: 550px;
  width: 350px;
  padding: 20px;
  position: relative;
  /* display: none; */
}

#gamePage #turnBtns {
  height: 60px;
  width: 310px;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#gamePage #turnBtns button {
  height: 60px;
  width: 160px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60)
}

#gamePage #turnBtns #O_Turn {
  left: 160px;
  z-index: 3;
}

#showChange {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 160px;
  border-radius: 50px;
  background: #7558A4;
  z-index: 1;
  transition: 1;
  transition: 0.2s;
}

