@media only screen and (max-width: 992px) {
  nav#nav-bar.desktop-responsive {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  nav#mobile-nav-bar.mobile-responsive {
    display: none;
  }
}

/* responsive navbar max-width: 900px*/
.nav-item {
  list-style: none;
}

.mobile-nav-link {
  text-decoration: none;
}

#mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #E2E8F0;
  background-color: #fff;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.mobile-nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.mobile-nav-link:hover {
  color: #482ff7;
}

.nav-logo img {
  /* color: rgb(157, 166, 83);
  text-decoration: none; */
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -105%;
    top: 8rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-logo {
    width: 20%;
  }

}

@media only screen and (max-width: 412px) {
  .nav-menu {
    left: -110%;
  }
}


