body {
  margin: 0;
  padding: 0;
  font-family: "GothamHTF-Bold", sans-serif;
}

#top {
  background-color: #BF2548;
}

.global-message {
  color: #fff;
  font-size: 14px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.10em;
  margin: 0;
}