@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "GothamHTF-Bold", sans-serif;
}

/* top nav general message */

#top {
  background-color: #BF2548;
}

.global-message {
  color: #fff;
  font-size: 14px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.10em;
  margin: 0;
}

/* nav bar - navlinks*/
#header {
  height: 40vh;
  position: fixed;
  width: 100%;
  top: 0;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  height: 40vh;
  box-shadow: 0 5px 15px -10px #111;
  font-family: "GothamHTF-BoldCondensed", sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
}

#header-img {
  order: 1;
  padding: 1em;
  border-radius: 100%;
}

.logo {
  border-radius: 100%;
  height: 35vh;
}

.logo-text {
  color: rgb(157, 166, 83);
  text-decoration: none;
}

.nav-link {
  color: #111;
  text-decoration: none;
  padding: 24px;
}

.nav-link:nth-of-type(n+3) {
  order: 2;
}

#homepage {
  margin-top: 20%;
}

/* cover-photo */
#banner {
  background-image: url("assets/cover-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  font-size: 60px;
  text-transform: uppercase;
  font-family: "GothamHTF-Bold", Arial, Helvetica, sans-serif;
  text-align: center;
  width: 60%;
  color: #fff;
}

/* introduction */
#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-title {
  font-size: 100px;
  width: 50%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.intro-desc {
  font-size: 30px;
  line-height: 43px;
  width: 70%;
}

/* traders section */
#sub-header {
  text-align: center;
}

.leaf-separator {
  font-size: 60px;
  margin: 0;
}

.sub-title {
  font-family: 'Caveat', cursive;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.20em;
  margin-top: 0;
  margin-bottom: 50px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-gap: 1rem;
  place-content: center;
  justify-items: center;
  min-height: 50vh;
  margin: 0;
  padding-right: 2rem;
  line-height: 1.5;
  list-style: none;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}

.card-title {
  margin-top: 1rem;
  font-size: 19px;
  text-align: center;
  color: #010101;
  text-decoration: none;
} 

.card-desc {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.card-img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  object-fit: cover;
  max-height: max(10rem, 30vh);
}

/* Call to action */
#view-all, #know-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;  
}

.view-all-link, .know-more-link {
  border: 1px solid #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  padding: 21px 69px;
  letter-spacing: 1.5px;
}

.view-all-link:hover, .know-more-link:hover {
  background-color: #BF2548;
  color: #fff;
}

/* about-us */
iframe {
  display: block;
  align-self: center;
  width: 70%;
  height: 60vh;
  margin-right: auto;
  margin-left: auto;
}

/* sign up */
#sign-up {
  display: flex;
  margin: 50px;
}

.col-left {
  width: 50%;
  background-image: url("./assets/recipe.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.col-right {
  background-color: #e2e2e2;
  padding: 60px 25px;
  width: 50%;
}

.col-right h3 {
  letter-spacing: 0.05em;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.col-right p {
  letter-spacing: 0.05em;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.sign-up-form form {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 183px;
}

form input[type='email'], input[type='submit'] {
  background: transparent;
  font-size: 25px;
  line-height: 25px;
  padding: 8px 12px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

form input[type='submit'] {
  text-transform: uppercase;
}

form input[type='submit']:hover {
  background-color: #BF2548;
  color: #fff;
}

/* success message */
#message {
  margin-top: 25%;
}

.success-message {
  color: #468847;
  text-align: center;
  padding-left: 93px;
  padding-right: 76px;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #e2e2e2;
  display: grid;
  place-items: center;
}
